{%extends 'base.html'%}
{% block title %}{{league_games.data[0].sport_nice}} Games{% endblock %}
{% block content %}

<body class="bg-leagues">


    <h1 class="mt-3 text-center text-light-grey">All Games In {{league_games.data[0].sport_nice}}</h1>
    <div class="container text-light-grey">
        <div class="row d-flex justify-content-end">
            <h3>Live Games</h3>
            {% for game in league_games.data if game.commence_time < game.sites[0].last_update %} <div
                class="col-10 col-sm-6 col-md-4 col-xl-3 m-auto">
                <div class="m-2">

                    <a href="/game/{{game.id}}"
                        class="p-3 fw-bold border-green bg-grey text-dark-blue text-decoration-none d-flex justify-content-center align-items-center flex-column">
                        <div class="text-center">{{game.teams[0]}}</div>
                        <div>vs.</div>
                        <div class="text-center">{{game.teams[1]}}</div>

                    </a>
                </div>
        </div>
        {% else %}
        <h4 class="ps-5 my-4">No current live games</h4>
        {% endfor %}
        <h3>Upcoming Games</h3>

        {% for game in league_games.data if game.commence_time > game.sites[0].last_update %}
        <div class="col-10 col-sm-6 col-md-4 col-xl-3 m-auto">
            <div class="m-2">

                <a href="/game/{{game.id}}"
                    class="p-3 fw-bold border-green bg-light-grey text-dark-blue text-decoration-none d-flex justify-content-center align-items-center flex-column">
                    <div class="text-center">{{game.teams[0]}}</div>
                    <div>vs.</div>
                    <div class="text-center">{{game.teams[1]}}</div>

                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</body>
{% endblock %}